# --------------------
# OS
# --------------------
.DS_Store

# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# --------------------
# Database & data
# --------------------
data/finance.db
data/uploads/
data/clean_transactions.csv
data/raw_transactions.csv

# --------------------
# Generated analysis files (if any)
# --------------------
data/*.csv

# --------------------
# Logs
# --------------------
*.log