body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #929292; /* Light grey background */
}
#header h1 {
  color: black;
}
#play-again,
#home-button {
  background-color: aliceblue;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #cd2020;
  margin-right: 10px;
}

#play-again:hover,
#home-button:hover {
  background-color: #e8491d;
}

#board {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-gap: 5px;
  margin-top: 20px;
}

.cell {
  width: 80px;
  height: 80px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 50%;
  cursor: pointer;
}

.piece {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
}

.player-1 {
  background-color: #ff6961;
}
.player-2 {
  background-color: #77dd77;
}
