body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #000; /* Changed text color to black */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  background-color: aqua;
}

main {
  background-size: cover;
  border-radius: 9px;
  padding: 4rem;
  width: 100%;
  max-width: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

p {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.winner {
  font-size: 2.5rem;
  font-weight: 700;
}

.btn-home {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.6rem;
  text-decoration: none;
  color: #000; /* Changed text color to black */
  background-color: #c7365f;
  border-radius: 5px;
}
.winnerimg {
  width: 30%;
  height: auto;
}
.blue-bg {
  background-image: url("blue-congratulations.jpg");
}

.red-bg {
  background-image: url("red-congratulations.jpg");
}
