body {
  background-color: #352f44;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #574b6d;
  padding: 10px 0;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #847c9d;
}

.center {
  text-align: center;
  margin-top: 20px;
}

#banner-container {
  position: relative;
}

#banner {
  width: 50%; /* Adjust the width as needed */
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  display: block;
  margin-top: 20px;
  padding: 15px; /* Adjust padding for better appearance */
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  background-color: #e8491d;
  color: #fff;
  border-radius: 50%; /* Make it round */
  cursor: pointer;
  transition: background-color 0.3s ease;
  line-height: 1.5;
}

.button:hover {
  background-color: #bf3916;
}
