body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.5s ease;
}

body.win {
  background-color: #8aff8a; /* Green */
}

body.lose {
  background-color: #ff8a8a; /* Red */
}

h1 {
  margin-bottom: 20px;
}

#game-info {
  display: flex;
  justify-content: space-between;
  width: 300px;
  margin-bottom: 20px;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 10px;
}

.card {
  width: 100px;
  height: 100px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  background-color: #929292; /* Light grey background */
}

#play-again,
#home-button {
  background-color: aliceblue;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Added this line */
  color: #cd2020; /* Added this line */
  margin-right: 10px; /* Added this line for spacing */
}

#play-again:hover,
#home-button:hover {
  background-color: #e8491d;
}
