body {
  background-color: #352f44;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  color: #fff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

header {
  background-color: #574b6d;
  padding: 10px 0;
}

header h1 {
  margin: 0;
}

nav {
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: #847c9d;
}

.center {
  text-align: center;
  margin-top: 20px;
}

#banner {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: #e8491d;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #bf3916;
}

.character-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.character {
  text-align: center;
  margin: 0%;
}

.character img {
  width: 100px; /* Adjust the size of the character image */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.score {
  margin-top: 10px;
  font-size: 18px;
}
.Royal {
  margin-top: 30px;
}
