body {
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 50px;
  background-color: #f0f0f0;
}
header {
  background-color: #574b6d;
  padding: 10px 0;
  margin-bottom: 20px;
  width: 100%;
}
header h1 {
  color: #fff;
}

.header-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #847c9d;
}

h1 {
  color: #333;
}

#turn {
  font-size: 20px;
  color: #555;
  margin-top: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  justify-content: center;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 24px;
  cursor: pointer;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

#result {
  margin-top: 20px;
  font-size: 18px;
  color: #333;
}

#playAgain {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: #fff;
  border: none;
  margin-top: 20px;
}
